<ng-template #versionTitle>
  <div class="version-title">
    <span class="version-title-cross" aria-hidden="true"></span>
    <span>Choose Bible Version</span>
  </div>
</ng-template>

<nz-modal
  [nzVisible]="versionModalVisible"
  [nzTitle]="versionTitle"
  [nzClassName]="'version-modal'"
  [nzWidth]="420"
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
  [nzFooter]="null"
  >
  <ng-container *nzModalContent>
    <div class="version-modal-body">
      <p class="version-modal-copy">Select the translation you want to read.</p>

      @if (loadingVersions) {
        <div class="version-loading">
          <nz-spin nzSimple></nz-spin>
          <span>Loading versions...</span>
        </div>
      }

      @if (versionLoadError) {
        <p class="version-error">{{ versionLoadError }}</p>
      }

      @if (!loadingVersions) {
        <div class="version-grid">
          @for (version of versions; track version) {
            <button
              nz-button
              nzType="default"
              class="version-btn"
              (click)="chooseVersion(version.id)"
              >
              <span class="name">{{ version.name }}</span>
              <span class="meta">{{ version.language || 'English' }}</span>
            </button>
          }
        </div>
      }
    </div>
  </ng-container>
</nz-modal>

@if (bibleService.isBibleLoading$ | async) {
  <div class="global-bible-loading">
    <nz-spin nzSimple></nz-spin>
    <span>Loading Bible...</span>
  </div>
}

@if (versionReady) {
  <app-header (changeVersionRequested)="openVersionModal()"></app-header>
}
@if (versionReady) {
  <router-outlet></router-outlet>
}
